# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.DS_Store

# heroku needs to see secrets.yml - use figaro instead
# Ignore application configuration
/config/application.yml